# From acer-predator-turbo-and-rgb-keyboard-linux-module/src/install_service.sh

[Unit]
Description = Enables turbo button
After=sysinit.target
StartLimitIntervalSec=5

[Service]
Type=simple
Restart=no
RemainAfterExit=yes
User=root
WorkingDirectory=/usr/lib/acer-facer
ExecStart=/bin/bash ./start-facer.sh
ExecStop=/bin/bash ./uninstall.sh

[Install]
WantedBy=multi-user.target